@import "reset.css";

.hidden {
  display: none;
}
#clock {
  display: block;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
#background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
